#items{
    color: black;
    font-weight: bold;
}
a.nav-link:hover {
    color: #F9C61D !important;
    cursor: pointer;
  }
.navbar{
    box-shadow: 0px 0px 5px 0px #000000;
}

h5{
    color: black;
    font-weight: bold;
}
p{
    color: black;
    font-weight: bold;
}
#banner{
    width:auto;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}
/* CSS CARDS*/
#card{
    margin: auto
}
.card {
    width: 350px;
    height: 350px
}

.image {
    position: absolute;
    right: 12px;
    top: 10px
}

.main-heading {
    font-size: 40px;
    color: red !important
}

.ratings i {
    color: orange
}

.user-ratings h6 {
    margin-top: 2px
}

.colors {
    display: flex;
    margin-top: 2px
}

.colors span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    margin-right: 6px
}

.colors span:nth-child(1) {
    background-color: red
}

.colors span:nth-child(2) {
    background-color: blue
}

.colors span:nth-child(3) {
    background-color: yellow
}

.colors span:nth-child(4) {
    background-color: purple
}

.btn-danger {
    height: 48px;
    font-size: 18px
}